
<div class="checkbox-filters">

	<div class="cell">
		<i18n>actualites.filter</i18n>
	</div>

	<div class="cell checkbox-filters-row">
		<ul>
			<li>
				<label class="checkbox cell"><input type="checkbox" ng-model="display.filters.all" ng-change="switchAll()" />
					<i18n>filters.all</i18n>
				</label>
			</li>
			<li>
				<label class="checkbox cell"><input type="checkbox" ng-model="display.filters.show3" ng-change="checkAll()" />
					<i18n>filters.published</i18n>
				</label>
			</li>
			<li>
				<label class="checkbox cell"><input type="checkbox" ng-model="display.filters.show1" ng-change="checkAll()" />
					<i18n>filters.drafts</i18n>
				</label>
			</li>
			<li>
				<label class="checkbox cell"><input type="checkbox" ng-model="display.filters.show2" ng-change="checkAll()" />
					<i18n>filters.submitted</i18n>
				</label>
			</li>
		</ul>
	</div>
</div>
