<filters>
	<li ng-class="{ selected: display.show3 }">
		<label>
			<i class="published type" tooltip="filters.published"></i>
			<input type="checkbox" ng-model="display.show3" />
		</label>
	</li>
	<li ng-class="{ selected: display.show1 }">
		<label>
			<i class="draft type" tooltip="filters.drafts"></i>
			<input type="checkbox" ng-model="display.show1" />
		</label>
	</li>
	<li ng-class="{ selected: display.show2 }">
		<label>
			<i class="submitted type" tooltip="filters.submitted"></i>
			<input type="checkbox" ng-model="display.show2" />
		</label>
	</li>
</filters>