<div ng-if="display.emptyThread" class="row">
	<h2 translate content="actualites.thread.empty"></h2>
</div>

<container template="filters"></container>

<div ng-repeat="info in infos.all">
	<div class="row vertical-spacing"></div>
	<div ng-if="isInfoVisible(info)" class="illustrated-article">
		<div class="illustration" ng-click="openThread(info.thread)">
			<div class="image">
				<img ng-src="[[info.thread.icon]]?thumbnail=150x150" ng-if="info.thread.icon" />
				<img skin-src="/img/illustrations/info.png" ng-if="!info.thread.icon" />
			</div>
			<legend>
				<strong>[[info.thread.title]]</strong>
			</legend>
		</div>
		<article class="illustrated-text">
			<div ng-if="currentInfo !== info">
				<div ng-include="template.containers.infoView"></div>
			</div>
			<div ng-if="currentInfo === info">
				<div ng-include="template.containers.infoEdit"></div>
			</div>

			<div class="row"></div>
		</article>
	</div>

</div>

