<div class="row" ng-if="info.comments.length() === 0">
	<span class="cell" translate content=""></span>
</div>

<article class="row comment" ng-repeat="comment in info.comments.all">
	<div class="lower-title">
		<a href="/userbook/annuaire#/[[comment.owner]]">[[comment.username]]</a>
		<em>le [[formatDate(comment.modified)]]</em>
		<p>[[comment.comment]]</p>
	</div>
	<div ng-if="comment._id" class="right-magnet cell">
		<a ng-if="canDeleteComment(info, comment)" ng-click="info.deleteComment(comment, $index)">supprimer</a>
	</div>
</article>

<behaviour name="comment" resource="info" class="row">
	<textarea class="cell vertical-spacing" ng-model="newComment.comment"></textarea>
	<button ng-click="postInfoComment(info)" translate content="actualites.info.label.comments.submit" class="right-magnet"></button>
	<div class="clear"></div>
</behaviour>