<div class="row">
	<h1 class="cell upper-title">
		<span translate content="[[getState(info)]]" class="warning-text">
		&nbsp;</span>[[info.title]]
	</h1>
	<div class="right-magnet cell" ng-if="info.status === 1">
		<behaviour name="contrib" resource="info">
			<a ng-click="editInfo(info)">modifier</a> ou <a ng-click="showDeleteInfo(info)">supprimer</a>
		</behaviour>
	</div>
</div>
<lightbox show="display.showConfirmRemove" on-close="cancelDeleteInfo()">
	<h2>Supprimer l'actualité</h2>
	<p>Voulez-vous vraiment supprimer cette actualité ?</p>
	<div class="row">
		<button ng-click="deleteInfo()" class="right-magnet">Supprimer</button>
		<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelDeleteInfo()" />
	</div>
</lightbox>
<div class="row lower-title" ng-if="info.hasExpirationDate">
	<span class="cell" translate content="actualites.info.label.author"></span>
	<a ng-href="/userbook/annuaire#[[info.owner]]"><span class="cell info-metadata">&nbsp;[[info.username]]</span></a>
	<span class="cell" translate content="actualites.info.label.initialDate"></span>
	<span class="cell info-metadata">&nbsp;[[(info.hasPublicationDate ? formatDate(info.publication_date) : formatDate(info.modified))]]&nbsp;</span>
	<span class="cell" translate content="actualites.info.label.expiration"></span>
	<span class="cell info-metadata">&nbsp;[[formatDate(info.expiration_date)]]</span>
</div>

<div class="row lower-title" ng-if="!info.hasExpirationDate">
	<span class="cell" translate content="actualites.info.label.author"></span>
	<a ng-href="/userbook/annuaire#[[info.owner]]"><span class="cell info-metadata">&nbsp;[[info.username]]</span></a>
	<span class="cell" translate content="actualites.info.label.publication"></span>
	<span class="cell info-metadata">&nbsp;[[(info.hasPublicationDate ? formatDate(info.publication_date) : formatDate(info.modified))]]</span>
</div>

<div class="row"></div>
<div class="row vertical-spacing" bind-html="info.content">
</div>
<hr class="row"></div>
<div class="row">
	<div class="right-magnet cell">
		<behaviour name="submit" resource="info" class="cell">
			<button ng-click="info.submit()" ng-if="isInfoSubmitable(info)" translate content="actualites.edition.infos.submit"></button>
		</behaviour>
		<behaviour name="unsubmit" resource="info" class="cell">
			<button ng-click="info.unsubmit()" ng-if="isInfoSubmitted(info)" translate content="actualites.edition.infos.unsubmit"></button>
		</behaviour>
		<behaviour name="publish" resource="info.thread" class="cell">
			<button ng-click="info.publish()" ng-if="isInfoPublishable(info)" translate content="actualites.edition.infos.publish"></button>
		</behaviour>
		<behaviour name="unpublish" resource="info.thread" class="cell">
			<button ng-click="info.unpublish(canSkipPendingStatus(info))" ng-if="isInfoUnpublishable(info)" translate content="actualites.edition.infos.unpublish"></button>
		</behaviour>
	</div>
	<div class="cell" ng-if="isInfoUnpublishable(info)">
		<a ng-click="display.commentInfo = info" ng-if="display.commentInfo !== info">
			<span ng-if="info.comments.all.length > 0"><i18n>actualites.info.label.comments.many</i18n> ([[info.comments.all.length]])</span>
			<span ng-if="info.comments.all.length === 0"><i18n>actualites.info.label.comments.none</i18n></span>
		</a>
		<a ng-click="display.commentInfo = undefined" ng-if="display.commentInfo === info"><i18n>actualites.info.label.comments.close</i18n></a>
	</div>
	<div class="row" ng-if="display.commentInfo === info">
		<div class="cell twelve" ng-include="template.containers.comments"></div>
	</div>
	<div class="row"></div>

</div>

