<div class="row">
	<label class="three cell"><i18n>actualites.edit.title</i18n></label>
	<input ng-model="currentInfo.title" type="text" class="nine cell" />
</div>

<div class="row">
	<label class="three cell"><input ng-model="currentInfo.hasPublicationDate" type="checkbox"/> <i18n>actualites.edit.date.publish</i18n></label>
	<date-picker-actu past="true" min-date="startDate" exp="true" exp-object="currentInfo.expiration_date" ng-model="currentInfo.publication_date" ng-change="showDate = true"></date-picker>
</div>

<div class="row">
	<label class="three cell"><input ng-model="currentInfo.hasExpirationDate" type="checkbox"/> <i18n>actualites.edit.date.expire</i18n></label>
	<date-picker-actu min-date="currentInfo.publication_date" past="true" ng-model="currentInfo.expiration_date" ng-change="showDate = true"></date-picker>
</div>
<div class="row">
	<label class="three cell"><input ng-model="currentInfo.setAsHeadline" type="checkbox"/> <i18n>actualites.set.as.headline</i18n></label>
</div>

<div class="row" ng-if="!isInfoPublishable(currentInfo) && currentInfo._id">
	<label class="cell">&nbsp;</label>
</div>

<div class="row">
	<html-editor ng-model="currentInfo.content"></html-editor>
</div>

<div class="row">
	<button ng-click="saveInfo()" translate content="actualites.edition.infos.save" class="right-magnet"></button>
	<button ng-click="cancelEditInfo()" translate content="actualites.edition.infos.cancel" class="right-magnet cancel"></button>
</div>