<div class="preview-wrapper">
	<em class="two cell metadata">
		Par <a href="/userbook/annuaire#/[[info.owner]]">[[info.username]]</a>
		<br />[[(info.publication_date ? formatDate(info.publication_date) : formatDateLocale(info.modified))]]
	</em>

	<article class="preview twelve cell"
			 ng-class="{ expanded: info.expanded, important: info.is_headline, unpublished: (info.status === 1 || info.status === 2) }">

		 <label ng-if="info.allow('edit') || info.allow('viewShare') || info.allow('unsubmit') || info.allow('submit') || info.allow('remove')">
			 <input type="checkbox" ng-model="info.selected" />
			 <span></span>
		 </label>

		<div class="rigid-grid row">
			<div ng-class="{ allowcheck: info.allow('edit') || info.allow('viewShare') || info.allow('unsubmit') || info.allow('submit') || info.allow('remove')}" class="one cell horizontal-spacing">
				<img skin-src="/img/illustrations/actualites-default.png" ng-if="!info.thread.icon" />
				<img ng-src="[[info.thread.icon]]?thumbnail=120x120" ng-if="info.thread.icon" />
			</div>

			<div class="margin-three">
				<h2 ng-click="info.expanded = !info.expanded">
					<span translate content="[[getState(info)]]" class="warning-text"></span>[[info.title]]
				</h2>
				<div class="margin-three" ng-click="info.expanded = !info.expanded">
					<div ng-show="!info.expanded">
						<div class="twelve cell" bind-html="info.preview"></div>
					</div>
					<div ng-show="info.expanded">
							<div class="twelve cell" bind-html="info.content"></div>
					</div>
				</div>
			</div>

		</div>
		<div class="cell right-magnet" ng-if="info.allow('comment') || info.comments.length() > 0">
			<a ng-click="info.displayComments = true; info.expanded = true;" ng-show="!info.displayComments">
				<i18n>actualites.info.label.comments</i18n> ([[info.comments.all.length]])
			</a>
			<a ng-click="info.displayComments = false" ng-show="info.displayComments">
				<i18n>actualites.info.label.comments.close</i18n>
			</a>
		</div>
		<div class="row" ng-show="info.displayComments && info.expanded">
			<container template="comments"></container>
		</div>
	</article>
</div>
