<div class="row contextual-buttons ng-scope">
	<div class="action-buttons" >
		<button ng-if="checkOneOrMoreThreadsContibRight()" ng-click="createInfo()" translate content="actualites.edition.infos.create"></button>
		<button ng-if="checkThreadsAdminRight()" ng-click="threadsView()" translate content="thread.list.view"></button>
	</div>
</div>

<div ng-if="display.emptyThread" class="row">
	<h2 translate content="actualites.thread.empty"></h2>
</div>

<container template="filters"></container>

<div ng-if="thread_id" class="row">
	<h2>[[thread_title]]</h2>
	<a ng-click="closeThread()">
		<i18n>actualites.links.display.news.of.all.threads</i18n>
	</a>
</div>

<div ng-repeat="info in infos.all | orderBy:[sortByIsHeadline,'modified.$date']:true">
	<div class="row vertical-spacing"></div>
	<div ng-if="isInfoVisible(info)" class="illustrated-article" ng-class="{headline: info.is_headline}">
		<div class="illustration" ng-click="openThread(info.thread_id, info.thread_title)">
			<div class="image">
				<img ng-src="[[info.thread_icon]]?thumbnail=150x150" ng-if="info.thread_icon" />
				<img skin-src="/img/illustrations/actualites-default.png" ng-if="!info.thread_icon" />
			</div>
			<legend>
				<strong>[[info.thread_title]]</strong>
			</legend>
		</div>
		<article class="illustrated-text">
			<div ng-if="currentInfo._id !== info._id">
				<div ng-include="template.containers.infoView"></div>
			</div>
			<div ng-if="currentInfo._id === info._id">
				<div ng-include="template.containers.infoEdit"></div>
			</div>

			<div class="row"></div>
		</article>
	</div>

</div>

