<div class="last-infos-widget widget">
	<h1><i18n>actualites.widget.title</i18n></h1>
	
	<ul class="row">
		<li ng-repeat="info in widget.infos" ng-class="{ 'border': $last === false }">
			<a ng-href="/actualites#/view/thread/[[info.thread_id]]/info/[[info._id]]"
			tooltip="[[info.tooltip]]">
				[[info.title]]
			</a>
			<span class="relative-date small-text">([[info.relativeDate]])</span>
		</li>
	
		<li ng-if="widget.infos === undefined || widget.infos.length === 0"><i18n>actualites.widget.empty</i18n></li>
	</ul>
</div>