<div class="row">
	<div class="contextual-buttons">
		<div class="action-buttons">
			<a ng-click="openMainPage()"><i18n>actualites.links.display.all.news</i18n></a>
		</div>
	</div>

	<div class="row vertical-spacing"></div>
	<div class="illustrated-article">
		<div class="illustration">
			<div class="image">
				<img ng-src="[[info.thread.icon]]?thumbnail=150x150" ng-if="info.thread.icon" />
				<img skin-src="/img/illustrations/actualites-default.png" ng-if="!info.thread.icon" />
			</div>
			<legend>
				<strong>[[info.thread.title]]</strong>
			</legend>
		</div>
		<article class="illustrated-text">
			<div ng-if="currentInfo !== info">
				<div ng-include="template.containers.infoView"></div>
			</div>
			<div ng-if="currentInfo === info">
				<div ng-include="template.containers.infoEdit"></div>
			</div>

			<div class="row"></div>
		</article>
	</div>
</div>