<div class="row info-full" ng-repeat="info in infos">
	<div class="row">
		<h3>[[info.title]]</h3>
	</div>

	<article class="row" bind-html="info.content">
	</article>

	<div class="row">
		<button ng-click="createInfo()" translate content="actualites.edition.infos.edit"></button>
		<button ng-click="publishInfo()" translate content="actualites.edition.infos.publish"></button>
		<button ng-click="unpublishInfo()" translate content="actualites.edition.infos.unpublish"></button>
		<button ng-click="deleteInfo()" translate content="actualites.edition.infos.delete"></button>
	</div>
</div>
