<div class="row" ng-repeat="thread in threads | limitTo: loadTotal">
	<div class="row">
		<h2 class="cell ten">[[thread.title]]</h2> 
		<button class="right-magnet" ng-click="showThread(thread)">Tout voir</button>
	</div>

	<article class="cell five height-three info-preview" ng-repeat="info in thread.infos.all | limitTo: infoLoadSize">
		<h3>[[info.title]]</h3>
		<div class="row" bind-html="info.content">
		</div>
	</article>

	<hr class="row"/>
</div>

<button class="row" ng-if="loadTotal < threads.length" ng-click="loadMoreThreads()">Charger plus de fils</button>