<div ng-if="display.emptyThread">
	<h2 translate content="actualites.thread.empty"></h2>
</div>

<div class="row info-full" ng-repeat="info in infos | filter:isInfoVisible | limitTo: loadTotal">
	<div class="row">
		<h1 class="cell">[[info.title]]</h1>
		<span class="infoThread right-magnet">[[getInfoThread(info)]]</span>
	</div>

	<div class="row">
		<label class="cell" translate content="actualites.info.label.author"></label>
		<span class="cell info-metadata">[[info.ownerName]]</span>

		<div class="cell right-magnet">
			<label class="cell" translate content="actualites.info.label.publication"></label>
			<span class="cell info-metadata">[[(info.hasPublicationDate ? formatDate(info.publicationDate) : formatDate(info.modified))]]</span>
		</div>
	</div>

	<article class="row info-content reduce-block-six" bind-html="info.content">
	</article>

	<div class="row info-control">
		<a class="cell" ng-click="switchInfoComments(info)">
			<div class="cell" translate content="actualites.info.label.comments.[[getInfoCommentsStatus(info)]]"></div>
			<div class="cell" ng-if="hasInfoComments(info) && (currentInfo !== info)">&nbsp;([[info.comments.length]])</div>
		</a>
	</div>

	<div class="row" ng-if="currentInfo === info">
		<div class="cell nine" ng-include="template.containers.comments"></div>
	</div>

	<hr />
</div>