<div ng-if="display.emptyThread" class="row">
	<h2 translate content="actualites.thread.empty"></h2>
</div>

<div class="row info-full" ng-repeat="info in infos">
	<div class="row">
		<h1 class="cell">[[info.title]]</h1>
		<div class="toggle right-magnet" ng-class="{ on: isInfoPublished(info), off: (! isInfoPublished(info)) }">
			<button></button>
			<span translate content="actualites.edition.status.[[info.status]]"></span>
		</div>
	</div>

	<div class="row">
		<label class="three cell" translate content="actualites.info.label.author"></label>
		<span class="cell info-metadata">[[info.ownerName]]</span>
	</div>

	<div class="row" ng-if="info.hasPublicationDate">
		<label class="three cell">Date de publication : </label>
		<input value="[[formatDate(info.publicationDate)]]" disabled />
	</div>

	<div class="row" ng-if="info.hasExpirationDate">
		<label class="three cell">Date d'expiration : </label>
		<input value="[[formatDate(info.expirationDate)]]" disabled />
	</div>

	<article class="row info-content" bind-html="info.content">
	</article>

	
	<div class="row">
		<behaviour name="edit" resource="info" class="cell right-magnet" ng-if="info.loaded">
			<!-- Actions -->
			<button ng-click="submitInfo(info)" ng-if="isInfoSubmitable(info)" translate content="actualites.edition.infos.submit"></button>
			<button ng-click="unsubmitInfo(info)" ng-if="isInfoSubmited(info)" translate content="actualites.edition.infos.unsubmit"></button>
			<button ng-click="publishInfo(info)" ng-if="isInfoPublishable(info)" translate content="actualites.edition.infos.publish"></button>
			<button ng-click="unpublishInfo(info)" ng-if="isInfoUnpublishable(info)" translate content="actualites.edition.infos.unpublish"></button>
			<button ng-click="createInfo(info)" ng-if="isInfoEditable(info)" translate content="actualites.edition.infos.edit"></button>
			<button ng-click="deleteInfo(info)" ng-if="isInfoDeletable(info)" translate content="actualites.edition.infos.delete"></button>
		</behaviour>
			
		<!-- Loaders -->
		<button ng-if="! info.loaded" translate content="actualites.edition.infos.loading.[[info.action]]" disabled class="right-magnet">
			<i role="loading"></i>
		</button>
	</div>
	
	<hr/>
</div>
