<div class="cell twelve list-view">
	<!-- Threads table -->
	<table class="twelve">
		<thead>
			<tr>
				<th class="six">Libelle</th>
				<th class="one">Ordre</th>

				<th class="one">Couleur</th>
				<th class="four"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<input type="text" placeholder="Titre du fil d'actualités" ng-model="currentThread.title" ng-if="!currentThread._id" />
				</td>
				<td></td>
				<td style="height: 29px">&nbsp;</td>
				<td><button ng-click="saveThread()" class="right-magnet" ng-if="!currentThread._id">Créer</button></td>
			</tr>
			<tr ng-repeat="thread in threads.all">
				<td ng-if="currentThread !== thread">[[thread.title]]</td>
				<td ng-if="currentThread === thread">
					<input translate attr="placeholder" placeholder="actualites.edition.thread.field.title.placeholder" ng-model="currentThread.title" type="text"/>
				</td>
				<td>[[thread.order]]</td>

				<td>[[thread.color]]</td>
				<td>
					<button ng-click="editThread(thread)" translate content="actualites.edition.thread.edit" class="right-magnet" ng-if="currentThread !== thread"></button>
					<button ng-click="saveThread()" translate content="actualites.edition.thread.save" class="right-magnet" ng-if="currentThread === thread"></button>
					<button ng-click="cancelEditThread()" translate content="actualites.edition.thread.cancel" class="right-magnet cancel" ng-if="currentThread === thread"></button>
					<behaviour name="share" resource="thread" class="right-magnet">
						<button ng-click="shareThread(thread)" translate content="actualites.edition.thread.manage" ng-if="currentThread !== thread"></button>
					</behaviour>
				</td>
			</tr>
		</tbody>
	</table>

	<hr />
	

</div>