<div class="cell twelve">
	<div class="row">
		<label translate content="actualites.edition.thread.field.title.label" class="two cell"></label>
		<input class="six" translate attr="placeholder" placeholder="actualites.edition.thread.field.title.placeholder" ng-model="currentThread.title" type="text"/>
	</div>

	<hr />

	<div class="row">
		<button ng-click="saveThread()" translate content="actualites.edition.thread.save" class="right-magnet"></button>
		<button ng-click="cancelEditThread()" translate content="actualites.edition.thread.cancel" class="cancel right-magnet"></button>
	</div>
</div>