<div class="row">
	<app-title>
		<h1 data-reload class="cell no-opener"><i class="actualites"></i><i18n ng-click="openMainPage()">actualites.title</i18n></h1>
	</app-title>
</div>

<h2 ng-if="currentThread._id === undefined"><i18n>thread.title.new</i18n></h2>
<h2 ng-if="currentThread._id !== undefined"><i18n>thread.title.edit</i18n></h2>
<article class="row rigid-grid">
	<div class="two cell clip height-two three-mobile">
		<image-select ng-model="currentThread.icon" default="/img/illustrations/actualites-default.png" thumbnails="[{ width: 290, height: 290 }]"></image-select>
	</div>
	<div class="margin-two height-two">
		<form ng-submit="saveThread()">
			<div class="absolute">
				<div class="row">
					<div class="twelve cell horizontal-spacing-twice">
						<div class="row">
							<label class="four cell twelve-mobile"><i18n>thread.title</i18n></label>
							<input type="text" required class="eight cell twelve-mobile" ng-model="currentThread.title" />
						</div>
					</div>
				</div>
				<div class="row bottom-locked">
					<div class="twelve cell horizontal-spacing-twice">
						<input type="submit" class="right-magnet" i18n-value="save" />
						<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelEditThread()" />
					</div>
				</div>
			</div>
		</form>
	</div>
</article>
