<div class="row">
	<h1 class="cell" style="width:165px"><i class="actualites"></i><i18n ng-click="openMainPage()">actualites.title</i18n></h1>
	<div class="cell right-magnet">
		<button ng-click="newThreadView()"><i18n>actualites.edition.thread.new</i18n></button>
	</div>
</div>

<div class="row rigid-grid">
	<div class="ten centered">
		<div class="six cell">
			<nav class="vertical half-stamps">
				<div ng-repeat="thread in threads.editable() | limitTo:threads.length() / 2" class="row">
						<article ng-class="{ selected: thread.selected }" class="eleven cell right-magnet">
							<div class="clip">
									<image-select ng-model="thread.icon"
												  ng-change="thread.save()"
												  default="/img/illustrations/actualites-default.png"
												  thumbnails="[{ width: 150, height: 150 }]"></image-select>
							</div>
							<div>
									<input type="text" ng-model="thread.title" complete-change="thread.save()" />
							</div>
						</article>
						<input type="checkbox" ng-model="thread.selected" class="one cell right-magnet" />
				</div>
			</nav>
		</div>
		<div class="six cell">
			<nav class="vertical half-stamps">
				<div ng-repeat="thread in threads.editable().slice(threads.length() / 2)" class="row">
						<article ng-class="{ selected: thread.selected }" class="eleven cell right-magnet">
							<div class="clip">
								<image-select ng-model="thread.icon"
											  ng-change="thread.save()"
											  default="/img/illustrations/actualites-default.png"
											  thumbnails="[{ width: 150, height: 150 }]"></image-select>
							</div>
							<div>
									<input type="text" ng-model="thread.title" complete-change="thread.save()" />
							</div>
						</article>
						<input type="checkbox" ng-model="thread.selected" class="one cell right-magnet" />
				</div>
			</nav>
		</div>
	</div>
</div>

<section class="toggle-buttons" ng-class="{ hide: threads.selection().length === 0 }">
	<div class="toggle">
			<resource-right name="deleteThread" resource="threads.selection()" class="cell">
				<button
						ng-click="threads.removeSelection()"
						>
					<i18n>remove</i18n>
				</button>
			</resource-right>
			<resource-right name="share" resource="threads.selection()" class="cell">
				<button ng-click="display.showPanel = true">
					<i18n>share</i18n>
				</button>
			</resource-right>
	</div>
</section>

<!-- Lightbox : Thread share -->
<div ng-if="display.showPanel">
	<lightbox show="display.showPanel" on-close="display.showPanel = false;">
		<share-panel app-prefix="'actualites/thread'" resources="threads.selection()"></share-panel>
	</lightbox>
</div>
