<!DOCTYPE html>
<html>
<head>
	<title>{{#i18n}}actualites.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="/actualites/public/js/model.js" type="text/javascript"></script>
	<script src="/actualites/public/js/controller.js" type="text/javascript"></script>
	<script type="text/ng-actualites" id="empty"></script>
	<link rel="stylesheet" type="text/css" href="/actualites/public/css/actualites.css" />
</head>
<body ng-controller="ActualitesController">
<portal>

	<h1>Actualités</h1>
	<div class="row">
		<nav class="contextual-buttons">
			<div class="row action-buttons">
				<button ng-click="createInfo()" translate content="actualites.edition.infos.create"></button>
			</div>
		</nav>

		<div id="actualites.container.threads" ng-include="template.containers.thread">
		</div>
	</div>

	<div ng-if="hasCurrentThread()">
		<behaviour name="share" resource="currentThread">
			<lightbox show="display.showPanel" on-close="cancelShareThread(); display.showPanel = false;">
				<share-panel app-prefix="'actualites'" resources="currentThread"></share-panel>
			</lightbox>
		</behaviour>
	</div>

</portal>
</body>
</html>