<!DOCTYPE html>
<html>
<head>
	<title>{{#i18n}}actualites.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="/actualites/public/js/model.js" type="text/javascript"></script>
	<script src="/actualites/public/js/controller.js" type="text/javascript"></script>
	<script type="text/ng-actualites" id="empty"></script>
</head>
<body ng-controller="ActualitesController">
<portal>

	<div ng-if="notFound === false" class="row">
		<h1 style="width:165px" class="cell"><i18n ng-click="openMainPage()">actualites.title</i18n></h1>
		<div class="row contextual-buttons ng-scope">
			<div class="action-buttons" >
				<button ng-if="checkThreadsSubmitRight()" ng-click="createInfo()" translate content="actualites.edition.infos.create"></button>
				<button ng-if="checkThreadsAdminRight()" ng-click="threadsView()" translate content="thread.list.view"></button>
			</div>
		</div>
		<div ng-if="thread" class="row">
			<h2>[[thread.title]]</h2>
			<a ng-click="closeThread()">Afficher toutes les actualités</a>
		</div>

		<container template="main"></container>
	</div>
	
	<div ng-if="notFound">
		<container template="error"></container>
	</div>

</portal>
</body>
</html>