<!DOCTYPE html>
<html>
<head>
	<title>{{#i18n}}actualites.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="/actualites/public/js/model.js" type="text/javascript"></script>
	<script src="/actualites/public/js/controller.js" type="text/javascript"></script>
	<script src="/actualites/public/js/controller-main.js" type="text/javascript"></script>
	<script type="text/ng-actualites" id="empty"></script>
	<link rel="stylesheet" type="text/css" href="/actualites/public/css/actualites.css" />
</head>
<body ng-controller="ActualitesMainController">
<portal>
	<h1>Les actualités</h1>
	<div class="cell four">
		<!-- Thread Navigation -->
		<nav class="vertical">
			<h2 translate content="actualites.threads.title"></h2>
			<a class="classic-link" ng-click="selectThread(latestThread)" translate content="actualites.threads.latest"></a>
			<ul>
			 	<li ng-repeat="thread in threads.all">
			    	<a ng-class="{selected: thread === currentThread}" ng-click="selectThread(thread)">[[thread.title]]</a>
			  	</li>
			</ul>
			<a href="/actualites/edit" workflow="actualites.edit" translate content="actualites.links.edition" class="classic-link"></a>
		</nav>

	</div>

	<!-- Thread panel -->
	<div class="cell eight">
		<!-- Thread infos -->
		<div ng-include="template.containers.thread">
		</div>
	</div>

</portal>
</body>
</html>