<!DOCTYPE html>
<html>
<head>
	<title>Actualites</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="/actualites/public/js/model.js" type="text/javascript"></script>
	<script src="/actualites/public/js/controller.js" type="text/javascript"></script>
	<script type="text/ng-actualites" id="empty"></script>
</head>
<body>
<admin-portal>
	<h1>Application actualites</h1>
	<p>Les actualites de l'ent-core.</p>
</admin-portal>
</body>
</html>