<!DOCTYPE html>
<html>
<head>
	<title>Actualites</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="/actualites/public/js/model.js" type="text/javascript"></script>
	<script src="/actualites/public/js/controller-admin.js" type="text/javascript"></script>
	<script type="text/ng-actualites" id="empty"></script>
</head>
<body ng-controller="ActualitesEditionController">
<admin-portal>
	<h1 translate content="actualites.title.admin"></h1>
	<p>Les actualites de l'ent-core.</p>

	<div class="row">
		<!-- Thread Navigation -->
		<nav class="vertical cell three">
		    <ul>
			  <li ng-repeat="thread in threads.all">
			    <a ng-class="{selected: thread === currentThread}" ng-click="selectThread(thread)">
			    	<i role="close" ng-click="thread.remove()" ng-if="thread === currentThread"></i>[[thread.title]]
			    </a>
			  </li>
			</ul>
		</nav>

		<!-- Thread edition -->
		<div ng-include="template.containers.threads_edition">
		</div>
	</div>

</admin-portal>

<!-- Lightbox : Thread share -->
<div ng-if="hasCurrentThread()">
	<behaviour name="share" resource="currentThread">
		<lightbox show="display.showPanel" on-close="display.showPanel = false">
			<share-panel resources="currentThread">
			</share-panel>
		</lightbox>
	</behaviour>
</div>

</body>
</html>