<!DOCTYPE html>
<html>
<head>
	<title>{{#i18n}}actualites.title.edition{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="/actualites/public/js/model.js" type="text/javascript"></script>
	<script src="/actualites/public/js/controller.js" type="text/javascript"></script>
	<script src="/actualites/public/js/controller-edition.js" type="text/javascript"></script>
	<script type="text/ng-actualites" id="empty"></script>
	<link rel="stylesheet" type="text/css" href="/actualites/public/css/actualites.css" />
</head>
<body ng-controller="ActualitesEditionController">
<portal>
	<h1>Modifier les actualités</h1>
	<div class="cell four">
		<nav class="vertical">
		    <ul>
			 	<li ng-repeat="thread in threads.all">
			    	<a ng-class="{selected: thread === currentThread}" ng-click="selectThread(thread)">[[thread.title]]</a>
			  	</li>
			</ul>
			<a class="classic-link" href="/actualites">Voir les actualités</a>
		</nav>
	</div>

	<!-- Thread panel -->
	<div class="cell eight">

		<!-- Thread actions -->
		<div class="row">
			<button ng-click="createInfo()" ng-if="hasCurrentThread()" translate content="actualites.edition.infos.create"></button>
			<behaviour name="share" resource="currentThread" class="right-magnet">
				<button ng-click="shareThread()" ng-if="hasCurrentThread()" translate content="actualites.edition.thread.share"></button>
			</behaviour>
		</div>
		<hr class="solid"/>

		<!-- Thread infos -->
		<div ng-include="template.containers.thread">
		</div>
	</div>

	<!-- Lightbox : Thread share -->
	<div ng-if="hasCurrentThread()">
		<behaviour name="share" resource="currentThread">
			<lightbox show="display.showPanel" on-close="cancelShareThread(); display.showPanel = false;">
				<share-panel resources="currentThread"></share-panel>
			</lightbox>
		</behaviour>
	</div>

</portal>
</body>
</html>