<!DOCTYPE html>
<html>
<head>
	<title>{{#i18n}}actualites.title.edition{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="/actualites/public/js/model.js" type="text/javascript"></script>
	<script src="/actualites/public/js/controller.js" type="text/javascript"></script>
	<script type="text/ng-actualites" id="empty"></script>
	<link rel="stylesheet" type="text/css" href="/actualites/public/css/actualites.css" />
</head>
<body ng-controller="ActualitesEditionController">
<portal>
	<h1 translate content="actualites.title.edition"></h1>
	<p>Les actualites de l'ent-core.</p>

	<div class="row">
		<!-- Thread Navigation -->
		<nav class="vertical cell three">
		    <ul>
			  <li ng-repeat="thread in threads.all">
			    <a ng-class="{selected: thread === currentThread}" ng-click="selectThread(thread)">
			    	<i role="close" ng-click="thread.remove()" ng-if="thread === currentThread"></i>[[thread.title]]
			    </a>
			  </li>
			</ul>
		</nav>

		<div class="cell eight">

			<!-- Thread actions -->
			<div class="row height-one">
				<div class="absolute">
					<button ng-click="createThread()">Nouveau fil d'actualites</button>
					<button ng-click="createInfo()" ng-if="hasCurrentThread()">Nouvelle actualite</button>
					<behaviour name="edit" resource="currentThread" class="cell">
						<button ng-click="template.open('edition', 'thread-edit-form')">Editer le fil d'actualites</button>
					</behaviour>
					<button ng-click="display.showPanel = true" ng-if="hasCurrentThread()">Partager le fil</button>
				</div>
			</div>

			<!-- Thread edition -->
			<div ng-include="template.containers.thread_edition">
			</div>

			<!-- Infos -->
			<div class="row">
				<!-- Infos display / info edition -->
				<div ng-include="template.containers.infos_edition">
				</div>
			</div>
		</div>
	</div>

</portal>

<!-- Lightbox : Thread share -->
<div ng-if="hasCurrentThread()">
	<behaviour name="share" resource="currentThread">
		<lightbox show="display.showPanel" on-close="display.showPanel = false">
			<share-panel resources="currentThread">
			</share-panel>
		</lightbox>
	</behaviour>
</div>

</body>
</html>